//Colors
$color-main: #55c57a;
$color-white: #FDFEFE;
$color-black: #000;
$color-gray: #777;
$color-light-gray: #f7f7f7;
$color-dark-gray: rgb(85, 85, 85);
$color-primary: #7ed56f13;
$color-secondary: #28b4858f;
$color-heading-primary: #2874A6;
$color-heading-secondary: #28b485;
$color-card1-light: #7ed56f;
$color-card1-dark: #048f50;
$color-card2-light: #ffb900;
$color-card2-dark: #ff7730;
$color-card3-light: #2998ff;
$color-card3-dark: #5643fa;
$color-gradient-light: #0f2027;
$color-gradient-medium: #203a43;
$color-gradient-dark: #2c5364;
//Grid
$grid-width: 110rem;
$gutter-verticle: 8rem;
$gutter-verticle-small: 5rem;
$gutter-horizontal: 6rem;
//FONT
$font-default: 1.5rem;