.popup {
    // Popup will cover full page and be fixed
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .8);
    // Support media query to check browsers support
    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
    }
    z-index: 100;
    // To make everything invissible and gone
    opacity: 0;
    visibility: hidden;
    // To apply changes when targeted popup
    &-content {
        width: 75%;
        height: 52rem;
        text-align: center;
        @include respond(tab-land) {
            height: 58rem;
        }
        @include respond(tab-port) {
            height: 48rem;
        }
        @include respond(phone) {
            height: 55rem;
        }
        @include center;
        // Since the above mixin contains a transform so to use another we have to put them in one again
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .5s .2s;
        padding: 2rem 5rem 2rem 5rem;
        @include respond(tab-port) {
            padding: 2rem;
        }
        @include respond(phone) {
            padding: 5rem 0;
        }
        background-color: $color-light-gray;
        border-radius: .3rem;
        border-style: dashed;
        border-color: $color-main;
        // **Imp column-count, column-gap, column-rule, hyphens are css properties for attractive text**
    }
    &:target {
        opacity: 1;
        visibility: visible;
        transition: all .3s;
    }
    &:target &-content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    &-close {
        &:link,
        &:visited {
            position: absolute;
            font-size: 5rem;
            color: $color-gray;
            top: -2.5rem;
            right: .5rem;
            text-decoration: none;
            display: inline-block;
            transition: all .3s;
        }
        &:hover {
            color: $color-main;
        }
    }
    // When popup become targated then we select its child class
}

.map {
    @include respond(tab-land) {
        width: 35rem;
        height: 35rem;
    }
    @include respond(tab-port) {
        opacity: 0;
        visibility: hidden;
    }
}